In [11]:
from collections import OrderedDict

# Creating an OrderedDict with initial values
ordered_dict = OrderedDict([('apple', 3), ('banana', 2), ('cherry', 5)])

# Adding new items
ordered_dict['date'] = 4
ordered_dict['elderberry'] = 1

print(ordered_dict)
# Output: OrderedDict([('apple', 3), ('banana', 2), ('cherry', 5), ('date', 4), ('elderberry', 1)])

ordered_dict.move_to_end('banana')
print(ordered_dict)
ordered_dict.popitem(last=False)

OrderedDict({'apple': 3, 'banana': 2, 'cherry': 5, 'date': 4, 'elderberry': 1})
OrderedDict({'apple': 3, 'cherry': 5, 'date': 4, 'elderberry': 1, 'banana': 2})

('apple', 3)

In [13]:
t = (1, 2, 3)

t[0] = 10
print(t)

TypeError: 'tuple' object does not support item assignment

In [21]:
import heapq
arr = [{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6}]

arr[0]['a'] = 10 
arr

[{'a': 10, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6}]

In [ ]:
# Python Code: Intersection
a = set('abcdf')
b = set('cdeg')


# a.intersection(b)
print(a & b)  # {'c', 'd'} - Common elements between sets a and b

# SQL Equivalent: Intersection
# Using two tables `table_a` and `table_b` with a column `letter`
# Find common letters in both tables:
# SELECT letter 
# FROM table_a 
# INTERSECT 
# SELECT letter 
# FROM table_b;


# Python Code: Union
# a.union(b)
print(a | b)  # {'a', 'b', 'c', 'd', 'e', 'f', 'g'} - All unique elements from both sets

# SQL Equivalent: Union
# SELECT letter 
# FROM table_a 
# UNION 
# SELECT letter 
# FROM table_b;


# Python Code: Difference
# a.difference(b)
print(a - b)  # {'a', 'b', 'f'} - Elements in a but not in b

# SQL Equivalent: Difference
# SELECT letter 
# FROM table_a 
# EXCEPT 
# SELECT letter 
# FROM table_b;


# Python Code: Symmetric Difference
# a.symmetric_difference(b)
print(a ^ b)  # {'a', 'b', 'e', 'f', 'g'} - Elements in either set but not both

# SQL Equivalent: Symmetric Difference
# Use UNION ALL and EXCEPT for this:
# SELECT letter 
# FROM (
#     SELECT letter FROM table_a 
#     UNION ALL 
#     SELECT letter FROM table_b
# ) sub
# GROUP BY letter 
# HAVING COUNT(*) = 1;

{'c', 'd'}
{'b', 'd', 'g', 'e', 'a', 'f', 'c'}
{'a', 'b', 'f'}
{'b', 'g', 'e', 'a', 'f'}